$primary-color: #ffffff
$secondary-color: yellow  
    
body
    background: #1D2B64
    background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64)
    background: linear-gradient(to right, #F8CDDA, #1D2B64)
    color:$primary-color

.temporary

  display: flex
  gap:20px
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  text-align: center
  justify-content: center
  margin-top:3%
    

a
    text-decoration: none

  
.caps
    color: $primary-color
    &:hover
        color:$secondary-color